body {
 padding: 80px 0;
/*  background: url(http://www.wallpaperup.com/uploads/wallpapers/2014/01/18/231329/8e0a14fccb84665e9e0ce59e22eb6858.jpg) no-repeat center top fixed;*/
  
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.container {
  
  padding: 15px;
  margin: 0 auto;
  border: 2px solid gray;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.overlay {
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*-webkit-filter: blur(5px);*/
}